body{
    position:relative;
    background-color: rgb(39, 9, 68);
    background-image: url("images/mygif.GIF"),url("images/65e8524813cfb4d9e4a801f80008be8b.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: fixed;
    color:aliceblue;
    
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}
a{
    color:whitesmoke;
    padding: 2%;
}
a:active{
    color:blueviolet;
}
a:hover{
    color:blueviolet;
}