body{
    background-image: url("65e8524813cfb4d9e4a801f80008be8b.jpg");
    background-size: cover;
    color:aliceblue;
}
nav{
    text-align: center;
    margin: auto;
    padding: 10px;
}
a{
    padding: 40px;
    color:aliceblue;
}
